{% load bootstrap5 %}

<div class="row g-3">
  <div class="col-md-4">
    {% bootstrap_field form.street label="Logradouro" %}
  </div>
  <div class="col-md-4">
    {% bootstrap_field form.neighborhood label="Bairro" %}
  </div>
  <div class="col-md-3">
    {% bootstrap_field form.city label="Cidade" %}
  </div>
  <div class="col-md-1">
    {% bootstrap_field form.state label="UF" %}
  </div>
  <div class="col-md-2">
    {% bootstrap_field form.number label="Número" %}
  </div>
  <div class="col-md-4">
    {% bootstrap_field form.complement label="Complemento" %}
  </div>
</div>
