<div id="sale-items-panel" hx-swap-oob="true">
  {% include 'sales/partials/sale_items_panel.html' %}
</div>

<div id="next-step-container" hx-swap-oob="true">
  {% if cart_items %}
    <a href="{% url 'sales:sale_step_1_products' %}" class="btn btn-primary btn-lg w-100" hx-boost="false">Próximo: Revisar Itens ({{ cart_item_count }})</a>
  {% else %}
    <button class="btn btn-primary btn-lg w-100" disabled>Adicione pelo menos 1 item para proseguir</button>
  {% endif %}
</div>

<span id="cart-item-count" hx-swap-oob="true" class="badge bg-primary rounded-pill ms-1">{{ cart_item_count }}</span>

<span id="subtotal" hx-swap-oob="true">
  {% load humanize %}
  {{ subtotal|intcomma }}
</span>
